*
!zabbix/
!zabbix/**
zabbix/.project
!mysql/
!mysql/**
mysql/.project
!apt/
!apt/**
apt/.project
!stdlib/
!stdlib/**
stdlib/.project
!skeleton_normal/
!skeleton_normal/**
skeleton_normal/.project
!.gitignore
