*
!zabbix/
!zabbix/**
zabbix/.project
!mysql/
!mysql/**
mysql/.project
!apt/
!apt/**
apt/.project
!stdlib/
!stdlib/**
stdlib/.project
!skeleton_normal/
!skeleton_normal/**
skeleton_normal/.project
!my_mysql/
!my_mysql/**
my_mysql/.project
!sudo/
!sudo/**
sudo/.project
!wordpress/
!wordpress/**
wordpress/.project
!concat/
!concat/**
concat/.project
!my_wp/
!my_wp/**
my_wp/.project
!apache/
!apache/**
apache/.project
!my_apache/
!my_apache/**
my_apache/.project
!httpauth/
!httpauth/**
httpauth/.project
!timezone/
!timezone/**
timezone/.project
!logrotate/
!logrotate/**
logrotate/.project
!.gitignore
