*
!zabbix/
!zabbix/**
zabbix/.project
zabbix/files/*.tar.gz
!mysql/
!mysql/**
mysql/.project
!apt/
!apt/**
apt/.project
!stdlib/
!stdlib/**
stdlib/.project
!skeleton_normal/
!skeleton_normal/**
skeleton_normal/.project
!my_mysql/
!my_mysql/**
my_mysql/.project
!sudo/
!sudo/**
sudo/.project
!wordpress/
!wordpress/**
wordpress/.project
!concat/
!concat/**
concat/.project
concat/Gemfile
!my_wp/
!my_wp/**
my_wp/.project
my_wp/templates
!apache/
!apache/**
apache/.project
!my_apache/
!my_apache/**
my_apache/.project
my_apache/files
!httpauth/
!httpauth/**
httpauth/.project
!timezone/
!timezone/**
timezone/.project
!logrotate/
!logrotate/**
logrotate/.project
!rsyslog/
!rsyslog/**
rsyslog/.project
!alternatives/
!alternatives/**
alternatives/.project
!clean_usr_local/
!clean_usr_local/**
clean_usr_local/.project
!ossec/
!ossec/**
ossec/files/ossec-2.8.1-omnios.tar.bz2
ossec/.project
!vmwaretools/
!vmwaretools/**
vmwaretools/.project
!augeasproviders/
!augeasproviders/**
augeasproviders/.project
!kmod/
!kmod/**
kmod/.project
!pkgng/
!pkgng/**
pkgng/.project
!pf/
!pf/**
pf/files/pf.conf
pf/.project
!mysudo/
!mysudo/**
mysudo/.project
!dis_ipv6/
!dis_ipv6/**
dis_ipv6/.project
!cronjobs/
!cronjobs/**
cronjobs/.project
!users/
!users/**
users/.project
!exim/
!exim/**
exim/.project
!newsyslog/
!newsyslog/**
newsyslog/.project
!grive/
!grive/**
grive/.project
grive/files/
!update_checker/
!update_checker/**
update_checker/.project
!selinux/
!selinux/**
selinux/.project
!solaris/
!solaris/**
solaris/.project
!smartd/
!smartd/**
smartd/.project
!logadm/
!logadm/**
logadm/.project
!pkgsrc/
!pkgsrc/**
pkgsrc/.project
!sendmail/
!sendmail/**
sendmail/.project
!custom/
!custom/**
custom/.project
!epel/
!epel/**
epel/.project
!atomic/
!atomic/**
atomic/.project
!iptables/
!iptables/**
iptables/files
iptables/.project
!nfs/
!nfs/**
nfs/.project
!subsonic/
!subsonic/**
subsonic/files/*.rpm
subsonic/files/*.zip
subsonic/.project
!postgresql/
!postgresql/**
postgresql/.project
!augeasproviders_grub/
!augeasproviders_grub/**
augeasproviders_grub/.project
!couchpotato/
!couchpotato/**
couchpotato/files/settings.conf
couchpotato/.project
!vcsrepo/
!vcsrepo/**
vcsrepo/.project
!transmission/
!transmission/**
transmission/files/settings.json
transmission/.project
!plexms/
!plexms/**
plexms/files/*.rpm
plexms/.project
!extra_conf/
!extra_conf/**
extra_conf/.project
!drive/
!drive/**
drive/.project
drive/files
!lynis/
!lynis/**
lynis/.project
!arpwatch/
!arpwatch/**
arpwatch/.project
!psacct/
!psacct/**
psacct/.project
!audit/
!audit/**
audit/.project
!sophos/
!sophos/**
sophos/.project
sophos/files/*.tgz
!motd/
!motd/**
!.gitignore
.DS_Store
.DS_Store?
